
*.txt
*.out
*.o
*.exe
.bash_history
.bashrc
slave
*.220
.vscode/settings.json
vgcore.*
solve
test/script.sh
select2.c
.config/PVS-Studio/PVS-Studio.lic
.config/PVS-Studio/30d59484437b42b
.vscode/settings.json
.vscode/settings.json
PVS-Studio.log
.vscode/settings.json
